*
!.gitignore
!package.json
!tsconfig.json
!test.sh
!runner.js
!unit/
!unit/**/*
!integration/
!integration/**/*
!helpers/
!helpers/**/*
!fixtures/
!fixtures/**/*
.idea
.vscode
.history
.env
.DS_Store
node_modules
/lib
/dist
/build
/cache
/coverage
/.eslintrc.js
/.prettierrc.js
/.stylelintrc.js
/.lintstagedrc.js